*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift Condensed', Tahoma, Geneva, Verdana, sans-serif;
}
.Degrade{
    width: 100%;
    padding: 360px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, red, orangered,black);
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
}
.Degrade{
    color: white;
    font-weight: lighter;
    font-size: 60px;
}
@keyframes degrade-animado{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}